/* User Detail Page */
.user__container {
    width: 100%;
    text-align: center;
}

.user__back {
    position: absolute;
    left: 5%;
    top: 3%;
    font-size: 1.5rem;
}

.user__avatar {
    border-radius: 50%;
    margin-top: 5%;
    border: 10px solid #007bff;
    width: 30%;
}

.user__name {
    font-size: 3rem;
    font-weight: bold;
    margin-top: 3%;
}

.user__username {
    margin-right: 10px;
    margin-right: 10px;
}

.user__des {
    font-size: 1.2rem;
    letter-spacing: 1.5px;
    margin-bottom: 3%;
}

.user__info a {
    color: #fff;
}

.user__info {
    margin-bottom: 3%;
}

.user__card {
    background: #fff;
    color: #222831;
    text-transform: uppercase;
    display: grid;
    vertical-align: middle;
    margin: 0 5%;
    border-radius: 25px;
    width: 150px;
    height: 200px;
    box-shadow: 0 10px 8px 0 rgba(0,0,0,0.2);
    margin-bottom: 20%;
}

.user__card span {
    padding-top: 10px;
    color: #007bff;
    font-size: 1.2rem;
    letter-spacing: 2px;
}

.user__card p {
    font-size: 2rem;
    font-weight: bold;
}
