/* Join Page */
.join__container {
    width: 40%;
    margin: 0 auto;
    display: grid;
    place-items: center;
}

.join__container label {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 5%;
}

.join__form {
    border: none;
    width: 60% !important;
}

.join__search {
    background-color: #29a19c !important;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

.join__search:hover {
    background-color: #a3f7bf !important;
    border: 1px solid #a3f7bf !important;
    color: #393e46 !important;
}

.join__icon {
    font-size: 13rem !important;
    margin-bottom: 5%;
    margin-top: 25%;
    opacity: 0;
    position: relative;
    left: -100%;
    animation: rotating-in 2.5s ease forwards;
}

@keyframes rotating-in {
    from {
        transform: rotate(360deg);
    }
    to {
        transform: rotate(0deg);
        left: 0;
        opacity: 1;
    }
}